.container {text-align: center;}
h1 {text-align: center;}

#child-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.card-div {
    width: 200px; height: 150px; padding: 5px; padding-top: 20px; margin: 10px; margin-top: 5px;
    
    background-color: pink; border-radius: 4px; box-shadow: 1px 3px 3px black;

    text-align: center; align-items: center;
}

.card-div > button {
    margin-top: 10px;
}

.card-div > button:hover {
    cursor: pointer;
}